*.swp
nvim/.config/nvim/lazy-lock.json
lftp/.local/share/lftp/cwd_history
lftp/.local/share/lftp/rl_history
lftp/.local/share/lftp/transfer_log
radian/.config/radian/history
lazygit/.config/lazygit/state.yml
