configuration {
	modi: "combi,file-browser-extended";
	show-icons: true;
	icon-theme: "Gruvbox-Material-Dark";
	combi-modi: "drun,run";
}
@theme "gruvbox-dark-hard"
listview {
	lines: 20;
	columns: 1;
}
window {
	width: 40%;
}
